@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&display=swap');
@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/buttons.scss';
@import 'bootstrap/scss/utilities.scss';

@import 'media';
@import 'header';
@import 'footer';
@import 'common';
@import 'text';

@import 'UI/buttons';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

html,
body {
  background-color: #1c0026;
}

.v-application {
  background-color: #1c0026 !important;
}

a {
  text-decoration: none !important;
}

html {
  box-sizing: border-box;
}

// .container {
//   border: 2px solid red;
// }

.ma-0 {
  margin: 0;
}

.pa-0 {
  padding: 0;
}

.nuxt-view {
  margin-top: 140px;
  height: auto;
  min-height: 100vh;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(255, 255, 255);
}
