@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'media';
@import 'header';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  box-sizing: border-box;
}

// .container {
//   border: 2px solid red;
// }
