.text1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 0px;
  color: inherit;
}

.text2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #f91e53;
}
